extends layouts/default.pug

block content
	main
		#ya-boi.grid.grid--justify-center
			div#floating_head.grid__col-12
				img(src="img/jimothy.png")
				#shadow
			div#links.grid.grid--justify-center.grid--align-content-start
				div.grid__col-4.site.twitch
					a(href="https://twitch.tv/jimothyz")
						include ../img/twitch.svg
				div.grid__col-4.site.discord
					a(href="https://discord.gg/xGv7fCr")
						include ../img/discord.svg
				div.grid__col-4.site.twitter
					a(href="https://twitter.com/ubijimothy")
						include ../img/twitter.svg
