@import "include-media";
@import "imports/colours";

html {
	height: 100vh;
}

body {
	background: red;
	background: linear-gradient(rgb(192,72,72), rgb(96,24,72));
}

main {
	width: 100%;
}

#ya-boi {
	@include media("<=phone") {
		width: 100vw;
	}
	@include media(">phone") {
		max-width: 400px;
		width: 75vw;
	}
	margin: 0 auto;
	margin-top: 10vh;
}

#floating_head {
	display: inline-block;
	padding: 0 10% 0 10%;
	margin: 0;

	img {
		width: 100%;
		position: relative;
		animation: bob 1.3s infinite alternate;
		transition-duration: 0.1s;

	}

	#shadow {
		margin: 0 auto;
		width: 70%;
		height: 20px;
		border-radius: 200px / 20px;
		background-color: rgba(0, 0, 0, 0.2);
		animation: shadow 1.3s infinite alternate;
		position: relative;
	}

	&:hover {
		img {
			transform: rotate(-6deg) scale(1.15);
		}
		#shadow {
			transform: scale(1.15);
		}
	}

	&:active,&:focus {
		img {
			transform: rotate(-6deg) scale(1.05);
		}
		#shadow {
			transform: scale(1.15);
		}
	}
}

@mixin site-specific($colour, $padding) {
	padding: $padding;
	svg {
		path {
			fill: white;
			transition: fill 0.1s;
		}
		&:hover {
			path {
				fill: $colour;
			}
		}
	}
}

#links {
	margin-top: 3vh;

	.site {
		svg {
			transition-duration: 0.1s;
			filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, 0.3) );
			&:hover {
				transform: scale(1.15);
				filter: drop-shadow( 6px 6px 4px rgba(0, 0, 0, 0.4) );
			}
		}
		text-align: center;
	}

	.discord {
		@include site-specific($discord-brand-primary, 25px);
	}
	.twitch {
		@include site-specific($twitch-brand-primary, 35px);
	}
	.twitter {
		@include site-specific($twitter-brand-primary, 25px);
	}
}

@keyframes bob {
	from {
		bottom: 0px;
	}
	to {
		bottom: 6px;
	}
}

@keyframes shadow {
	from {
		width: 60%;
	}
	to {
		width: 50%;
	}
}

